
<div class="form-group row">
    <label for="colFormLabelLg" class="col-sm-4 col-form-label">Artículo:</label>
    <div class="col-sm-8">
        <label class="col-form-label">Pelicula ...</label>
    </div>
</div>
<div class="form-group row">
    <label for="colFormLabelLg" class="col-sm-4 col-form-label">Precio:</label>
    <div class="col-sm-8">
        <label class="col-form-label">$10000000</label>
    </div>
</div>
<div class="form-group row">
    <label for="colFormLabelLg" class="col-sm-4 col-form-label pr-0">Tiempo de entrega:</label>
    <div class="col-sm-8">
        <label class="col-form-label">18/06/2019</label>
    </div>
</div>
<div class="form-group row">
    <label for="colFormLabelLg" class="col-sm-4 col-form-label">Metódo de pago:</label>
    <div class="col-sm-8">
        <label class="col-form-label">Mastercard *7355</label>
    </div>
</div>